---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="mb-8 text-center">
    <h1 class="text-4xl font-bold mb-2">{frontmatter.title}</h1>
    <p class="text-gray-500 text-sm">
      {frontmatter.pubDate.toLocaleDateString()}
    </p>
    <p class="text-gray-700 italic mt-2">{frontmatter.description}</p>
    <p class="text-gray-600 text-sm">Written by: {frontmatter.author}</p>
  </div>

  {
    frontmatter.coverImage && (
      <div class="mb-8">
        <Image
          src={frontmatter.coverImage}
          alt={frontmatter.coverAlt}
          widths={[200, 400, 800]}
          sizes="(max-width: 800px) 100vw, 800px"
          class="w-full h-auto rounded-lg shadow-md"
        />
      </div>
    )
  }

  <div class="flex flex-wrap gap-2 mb-8 justify-center">
    {
      frontmatter.tags.map((tag: string) => (
        <a
          href={`/tags/${tag}`}
          class="badge badge-outline badge-primary hover:badge-secondary"
        >
          {tag}
        </a>
      ))
    }
  </div>

  <article class="prose lg:prose-xl mx-auto">
    <slot />
  </article>
</BaseLayout>
